body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
